.section-compare {
    background-color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
    border-top: 1px solid var(--light-grey);
    @include laptopM {
        max-height: 30vh;
        overflow-y: auto;
    }
    & > .container > .row {
        @include laptopM {
            margin: 0;
            padding: 10px 0 0!important;
            overflow: hidden;
        }
        &>div {
            @media (max-width: 575px) {
                max-width: 400px;
                margin: auto;
            }
            &:last-child {
                @include laptopM {
                    order: 2;
                    margin-bottom: 1rem;
                }
                @media (max-width: 575px) {
                    order: 5;
                }
                @media (max-width: 575px) {
                    margin-bottom: 0;
                }
            }
            &:nth-child(2) {
                @include laptopM {
                    order: 3;
                }
                @media (max-width: 575px) {
                    margin-bottom: 1rem;
                }
            }
            &:nth-child(3) {
                @include laptopM {
                    order: 3;
                }
                @media (max-width: 575px) {
                    margin-bottom: 1rem;
                }
            }
            &:first-child {
                @include laptopM {
                    order: 1;
                    margin-bottom: 1rem;
                }
                @media (max-width: 575px) {
                    margin-bottom: 1rem;
                }
            }
            .btn.btn-primary {
                margin-left: auto;
            }
        }
    }
    &__item {
        position: relative;
    }h6 a ,
    h6 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;
        @include phone {
            font-size: 14px;
        }
    }
    .section-compare__price {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        color: var(--black);
    }
    .compare-count {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        /* identical to box height */


        /* Neutral/Black */

        color: var(--black);
    }
    .clear-all {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: var(--blue);
        position: relative;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: var(--blue);
            transition-duration: 0.4s;
        }

        &:hover::after {
            right: 100%;
        }
    }
    .btn-delete {
        position: absolute;
        top: -10px;
        right: -10px;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url(../img/svgicons/deselect.svg);
        cursor: pointer;
        transition-duration: .4s;
        &:hover {
            transform: scale(1.1);
        }
    }
}