#top-line {
	padding: 10.5px 0;
	transition: var(--transition);
	@include tablet {
		padding: 7.5px 0;
	}
	a {
		position: relative;
		font-weight: 700;
		@include fontsize(16px, 15px, 14px);
		&:after {
			content: "";
			width: 100%;
			height: 2px;
			background-color: var(--white);
			position: absolute;
			bottom: 2px;
			left: 0;
			@include tablet {
				bottom: 1px;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
}

#main-header {
	padding: 15.5px 0;
	border-bottom: 1px solid var(--light-grey);
	background-color: var(--white);
	@include tablet {
		padding: 10.5px 0;
	}
	@include phone {
		padding: 5px 0 !important;
		position: relative;
	}
	.logo-wrap {
		@include phone {
			height: 43px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	.search-form {
		max-width: 782px;
		position: relative;
		@include phone {
			display: none;
			background-color: var(--white);
			width: 100% !important;
			position: absolute;
			left: 0;
			top: 64px;
			padding: 10px 0;
			border-bottom: 1px solid var(--light-grey);
			z-index: 1;
		}
		.search-form-container {
			@include phone {
				position: relative;
				max-width: 540px;
				width: 100%;
				padding-right: var(--bs-gutter-x, 0.75rem);
				padding-left: var(--bs-gutter-x, 0.75rem);
				margin-right: auto;
				margin-left: auto;
			}
		}
		.fa-search {
			position: absolute;
			top: 16px;
			left: 19px;
			color: var(--grey);
			@include phone {
				left: 25px;
			}
		}
		input {
			height: 48px;
			padding-left: 50px;
			@include phone {
				padding-left: 35px;
			}
		}
	}
	.right-content {
		.header-group-btn {
			a {
				color: var(--textcolor);
				position: relative;
				@include tablet {
					padding: 0.75rem;
				}
				.btn-descr {
					font-size: 12px;
					line-height: 1.25;
					white-space: nowrap;
				}
				.btn-title {
					line-height: 1.2;
					margin-top: 12px;
					position: relative;
					@include tablet {
						font-size: 24px;
						margin-top: 0;
					}
				}
				&.my-account-link {
					&:after {
						position: absolute;
						right: 0;
						bottom: 3px;
						@include tablet {
							display: none;
						}
					}
					.btn-title {
						@include desktop {
							margin-top: 10px;
						}
						.fa-user {
							@include desktop {
								position: relative;
								top: -2px;
							}
						}
					}
				}
				&.cart-link {
					.cart-count {
						position: absolute;
						top: -12px;
						left: 10px;
						width: 18px;
						height: 18px;
						border-radius: 50%;
						background-color: var(--green);
						color: var(--white);
						line-height: 1;
						font-size: 12px;
						@include tablet {
							top: -9px;
							left: 18px;
						}
					}
				}
			}
			ul.dropdown-menu {
				margin-top: 10px !important;
				padding: 0;
				@include desktop {
					margin-top: 0;
					border-color: var(--light-grey);
				}
				@include tablet {
					border: unset;
					background-color: var(--light-grey);
				}
				li {
					a {
						padding: 0.3rem 1rem;
						font-size: 15px;
						@include tablet {
							font-size: 14px;
						}
						&:hover {
							background-color: var(--blue);
							color: var(--white);
						}
					}
				}
			}
		}

		.navbar-toggler {
			margin-right: -12px;
			&[aria-expanded="true"] {
				.fa-bars {
					display: none !important;
				}
			}
			&[aria-expanded="false"] {
				.fa-close {
					display: none !important;
				}
			}
			.navbar-toggler-icon {
				font-size: 24px;
			}
		}
	}
}
