<div class="bg-overview">
    <div class="cart-block">
        <div class="d-flex flex-column justify-content-between cart-block__overflow">
            <div class="cart-wrap pt-3 px-0 m-0">
                <div class="row py-3 px-4 m-0">
                    <div class="col-12 mb-4 px-2">
                        <h2><img src="img/svgicons/shopping-cart.svg" alt="">Your Cart</h2>
                    </div>
                    <div class="col-12 line-green">
                        You’ve earned free shipping!
                    </div>
                </div>
                <div class="row mt-4 mb-3 p-3">
                    <div class="col-3">
                        <img src="../img/Image-2.png" alt="">
                    </div>
                    <div class="col-6">
                        <h6>Asus S300MA-DH501 Desktop Computer - Intel Core i5 10th Gen i5-10400 Hexa-core (6 Core)...</h6>
                    </div>
                    <div class="col-3">
                        <div class="btn-delete p-0 mb-2 me-0">
                        </div>
                        <div class="cart-price">
                            $1,098.84
                        </div>                
                    </div>
                </div>
                <div class="products-might-like py-4 px-3">
                    <h4>Products You Might Like</h4>
                    <div class="row mt-4">
                        <div class="col-3 p-0">
                            <img src="../img/epson printer.png" alt="">
                        </div>
                        <div class="col-6">
                            <h6>HP Officejet Pro 8210 Inkjet Printer - Color - 2400 x 1200 dpi Print </h6>
                        </div>
                        <div class="col-3">
                            <div class="cart-price">
                                $172.84
                            </div>                
                        </div>
                    </div>
                    <div class="row">
                        <a class="btn btn-add-cart ms-auto">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="checkout-wrap p-4 m-0 mt-auto">
                <div class="row border-top border-bottom p-2">
                    <div class="col-12 p-2"><img src="" alt=""><img src="../img/svgicons/tag.svg" alt="" class="me-2">Add Coupon Code</div>
                </div>
                <div class="row py-2 mt-3">
                    <div class="col-6"><strong>Subtotal</strong></div>
                    <div class="col-6 text-end">$1,098.84</div>
                </div>
                <div class="row py-2">
                    <div class="col-6"><strong>Shipping</strong></div>
                    <div class="col-6 text-end">$0</div>
                </div>
                <div class="row py-2 border-bottom">
                    <div class="col-6"><strong>Tax</strong></div>
                    <div class="col-6 text-end">$80</div>
                </div>
                <div class="row py-2 mt-2 mb-4">
                    <div class="col-6"><strong>Total</strong></div>
                    <div class="col-6 text-end">$1178.84</div>
                </div>
                <div class="row">
                    <div class="col-12"><a href="" class="btn btn-primary">Continue Shopping</a></div>
                    <div class="col-12 mt-3"><a href="" class="btn btn-checkout">Checkout</a></div>
                </div>
            </div>
        </div>
    </div>
</div>