<section class="section-compare p-4 pt-xxl-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xxl-3">
                <div class="section-compare__item border p-3">                
                    <div class="row">
                        <div class="col-4 section-compare__img">
                              <a href=""><img src="../img/Image-2.png" alt=""></a>
                        </div>
                        <div class="col-8 ps-0">
                            <h6><a href="">Asus S300MA-DH501 Desktop Computer...</a></h6>
                            <div class="section-compare__price">$1,098.84</div>
                        </div>
                    </div>
                    <div class="btn-delete"></div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="section-compare__item border p-3">                
                    <div class="row">
                        <div class="col-4 section-compare__img">
                             <a href=""><img src="../img/Rectangle 34.png" alt=""></a>
                        </div>
                        <div class="col-8 ps-0">
                            <h6><a href="">MSI Modern AM241 11M 11M-206US...</a></h6>
                            <div class="section-compare__price">$1,098.84</div>
                        </div>
                    </div>
                    <div class="btn-delete"></div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="section-compare__item border p-3">                
                    <div class="row">
                        <div class="col-4 section-compare__img">
                            <a href=""><img src="../img/epson printer.png" alt=""></a>
                        </div>
                        <div class="col-8 ps-0">
                            <h6><a href="">Intel NUC NUC7CJYH Desktop Computer...</a></h6>
                            <div class="section-compare__price">$1,098.84</div>
                        </div>
                    </div>
                    <div class="btn-delete"></div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="row mb-3">
                    <div class="col-12 compare-count text-end">Compare (3)</div>
                </div>
                <div class="row">
                    <div class="col-5 d-flex justify-content-center align-items-center"><a href="" class="clear-all">Clear All</a></div>
                    <div class="col-7"><a href="" class="btn btn-primary">Compare</a></div>
                </div>
            </div>
        </div>
    </div>
</section>