<div class="bg-filter-overview d-flex justify-content-center align-items-start align-items-lg-center">
    <div class="filter-block">
        <form class="form-filter px-3 pt-4 pt-md-5 pb-3" id="form-filter">
            <div class="row">
               <div class="col-12 text-center mb-3 mb-md-4">
                    <h4>Filter & Sort</h4>
               </div>
               <div class="col-12">
                   <h6>Category</h6>
                    <div class="select">
                        <input class="select__input" type="hidden" name="">
                        <div class="select__head mt-3 mb-0">Computers</div>
                        <div class="select__list py-2" style="display: none;">
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="in-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="in-stock">Computers 1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 3</label>
                                    </div>
                                </li>
                                                <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                            <label class="form-check-label" for="out-of-stock">Computers 4</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                            <label class="form-check-label" for="out-of-stock">Computers 5</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                            <label class="form-check-label" for="out-of-stock">Computers 6</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                            <label class="form-check-label" for="out-of-stock">Computers 7</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                            <label class="form-check-label" for="out-of-stock">Computers 8</label>
                                        </div>
                                    </li> 
                            </ul>
                            <div class="view-more">View More</div>
                        </div>
                    </div>
               </div>
                <!-- end             -->
                <div class="col-12 mt-4">
                    <h6>Sort</h6>
                        <div class="select">
                            <input class="select__input" type="hidden" name="">
                            <div class="select__head mt-3 mb-0">Computers</div>
                            <ul class="select__list py-2" style="display: none;">
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="in-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="in-stock">Computers 1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 3</label>
                                    </div>
                                </li>                                                            
                            </ul>
                            
                        </div>
                </div>
                <!-- end             -->
                <div class="col-12 mt-4">
                    <h6>Filter</h6>
                        <div class="select">
                            <input class="select__input" type="hidden" name="">
                            <div class="select__head mt-3 mb-0">Computers</div>
                            <ul class="select__list py-2" style="display: none;">
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="in-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="in-stock">Computers 1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 3</label>
                                    </div>
                                </li>
                                                  
                            </ul>
                           
                        </div>
                </div>
                <!-- end             -->
                <div class="col-12">
                        <div class="select">
                            <input class="select__input" type="hidden" name="">
                            <div class="select__head mt-3 mb-0">Computers</div>
                            <ul class="select__list py-2" style="display: none;">
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="in-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="in-stock">Computers 1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input type="checkbox" name="" id="out-of-stock" value="" class="form-check-input filter-checkbox">
                                        <label class="form-check-label" for="out-of-stock">Computers 3</label>
                                    </div>
                                </li>
                                                         
                            </ul>
                        
                        </div>
                </div>
                <!-- end             -->
            </div>                        
        </form>
        <div class="col-12 d-flex align-items-center justify-content-end px-3 py-4 block-res-show">
            <a href="" title="" class="clear">Clear</a>
            <a class="btn btn-primary ms-5">Show Results</a>
        </div>
    </div> 
</div>