<!-- <header class="header">
  <div class="container">header</div>
</header> -->
<div id="top-line" class="bg-primary">
	<div class="container d-flex flex-wrap justify-content-center">
		<a href="#" class="text-white">Winter Sale Ends Soon!</a>
	</div>
</div>
<header id="main-header">
	<div class="container d-flex justify-content-between align-items-center">
		<a href="/" class="logo-wrap d-flex">
			<img src="/img/Colamco Logo Multicolor.svg" alt="Colamco Logo Multicolor">
		</a>

		<div class="search-form flex-grow-1 mx-0 mx-md-4">
			<div class="search-form-container">
				<i class="fal fa-search"></i>
				<input type="text" class="form-control" placeholder="Search for Products" aria-label="Search">
			</div>
		</div>

		
		<div class="right-content d-flex">
			
			<div class="header-group-btn d-flex d-md-none flex-column justify-content-center">
				<a href="#" class="search-mobile-link d-flex">
					<span class="btn-title"><i class="fal fa-search"></i></span>
				</a>
			</div>

			<div class="header-group-btn dropdown d-flex flex-column justify-content-center align-self-start">
				<a class="my-account-link dropdown-toggle d-flex flex-column" href="#" id="MyAccountMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="btn-descr d-none d-lg-block">Sign In/New Customer</span>
					<span class="btn-title d-flex align-items-center"><i class="fal fa-user"></i> <span class="d-none d-lg-block ms-2">My Account</span></span>
				</a>
				<ul class="dropdown-menu" aria-labelledby="MyAccountMenuLink">
					<li><a class="dropdown-item" href="#">Dashboard</a></li>
					<li><a class="dropdown-item" href="#">Orders</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
				</ul>
			</div>

			<div class="header-group-btn d-flex flex-column justify-content-center ms-0 ms-md-3 ms-lg-5">
				<a href="#" class="cart-link d-flex flex-column">
					<span class="btn-descr d-none d-lg-block">My Cart</span>
					<span class="btn-title"><i class="fal fa-cart-shopping"></i><span class="cart-count d-flex justify-content-center align-items-center">4</span></span>
				</a>
			</div>

			<button class="navbar-toggler d-lg-none ms-0 ms-md-3" type="button" data-bs-toggle="collapse" data-bs-target="#headNavigation"
				aria-controls="headNavigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon d-flex justify-content-center align-items-center">
					<i class="fal fa-bars"></i>
					<i class="fal fa-close"></i>
				</span>
			</button>

		</div>

	</div>
</header>
<!-- <nav class="py-2 bg-light border-bottom">
	<div class="container d-flex flex-wrap">
		<ul class="nav me-auto">
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
		</ul>
		<ul class="nav">
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
			<li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
		</ul>
	</div>
</nav> -->